<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.javadude.workingsets.internal.DummyStartup">
      </startup>
   </extension>
   <extension point="org.eclipse.ui.workingSets">
      <workingSet
            icon="icons/workset.gif"
            id="com.hcrest.classpath.natureWorkingSet"
            name="Nature Working Set"
            pageClass="com.javadude.workingsets.internal.NatureWorkingSetPage"
            updaterClass="com.javadude.workingsets.internal.NatureWorkingSetUpdater">
      </workingSet>
   </extension>
   <extension point="org.eclipse.ui.workingSets">
      <workingSet
            icon="icons/workset.gif"
            id="com.hcrest.classpath.regexWorkingSet"
            name="Regular Expression Working Set"
            pageClass="com.javadude.workingsets.internal.RegExWorkingSetPage"
            updaterClass="com.javadude.workingsets.internal.RegExWorkingSetUpdater">
      </workingSet>
   </extension>
</plugin>
