<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.javadude.presentation.font.toggler.actionSet"
            label="Presentation Mode Action Set"
            visible="true">
         <action
               class="com.javadude.presentation.font.toggler.actions.SCP10Action"
               id="com.javadude.presentation.font.toggler.scp10Action"
               label="SCP10"
               toolbarPath="togglePresentationFontGroup"
               tooltip="Source Code Pro 10 regular"/>
         <action
               class="com.javadude.presentation.font.toggler.actions.Consolas12Action"
               id="com.javadude.presentation.font.toggler.consolas12Action"
               label="Consolas12"
               toolbarPath="togglePresentationFontGroup"
               tooltip="Consolas 12 regular"/>
      </actionSet>
   </extension>

</plugin>
